
/*Reseta as configurações iniciais de margem, preenchimento e box do site*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;/* limita a expansão dos elementos à extensão do box*/

}




